* {
    box-sizing: border-box;
}
body{
    background-color:  rgb(109, 0, 143);
}

label{
    font-size: 32px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 800PX;
    background-color:rgb(255, 255, 255);
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

textarea{
    font-size: 50px;
    height: 500px;
    width: 550px;
    background-color: rgb(109, 0, 143);
    text-shadow: 2px 2px rgb(0, 0, 0);
    color: rgb(255, 238, 0);
}

p{
    font-size: 54px;
    color: rgb(0, 255, 0);
}

h2{
    text-align: center;
    font-size: 54px;
    text-shadow: 2px 2px rgb(0, 0, 0);
    color: rgb(255, 238, 0);
}

#results{
    height:200px; width: 550px;
}

.square{
    height: 50px;
    width: 200px;
    background-color: rgb(0, 0, 0);
}


input{
    text-shadow: 2px 2px rgb(0, 0, 0);
    color: rgb(255, 238, 0);
}

input[type="checkbox"]{
    margin: 15px;
    transform: scale(2.5)
}

#ColorBoxInput{
    background-color: #919191;
    font-size: 40px;
}

#codeText{
    font-size: medium;
    height: 50px;
}
